/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.shortcuts-setting-tab .setting-hotkey.mod-active {
	background-color: var(--interactive-accent);
	color: var(--text-on-accent);
	padding-left: 8px;
	padding-right: 8px;
}

.shortcuts-setting-tab .setting-hotkey {
	max-width: 300px;
	word-wrap: break-word;
	white-space: pre-wrap;

	display: flex;
	flex-wrap: wrap;
}

.shortcuts-setting-tab .setting-item-name {
	max-width: 350px;
	word-wrap: break-word;
	white-space: pre-wrap;
}

.shortcuts-setting-tab .key-separator,
.shortcuts-setting-tab .combo-separator {
	font-size: var(--font-ui-smaller);
}

.shortcuts-setting-tab .key-combo {
	text-transform: capitalize;
}

.shortcuts-setting-tab .individual-key {
	font-size: var(--font-ui-small);
	text-transform: capitalize;
}

.shortcuts-setting-tab .setting-delete-hotkey {
	margin-left: var(--size-2-2);
}

.shortcuts-setting-tab .setting-delete-hotkey .clickable-icon {
	padding: 0;
}

.shortcuts-setting-tab .setting-filter-container:empty {
	margin-bottom: var(--size-4-4);
}

.shortcuts-setting-tab .setting-delete-hotkey .clickable-icon:hover {
	color: var(--interactive-accent);
}

.shortcuts-setting-tab .settings-divider {
	display: flex;
	align-items: center;
	margin-top: var(--size-4-2);
	margin-bottom: var(--size-4-2);
}

.shortcuts-setting-tab .settings-divider::before {
	content: "";
	flex-grow: 1;
	background-image: linear-gradient(
		to right,
		var(--background-modifier-border) 33%,
		transparent 0%
	);
	background-position: bottom;
	background-size: 15px 1px;
	background-repeat: repeat-x;
	height: 1px;
}

.shortcuts-setting-tab .special-thanks-container {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.shortcuts-setting-tab .special-container {
	padding: var(--size-4-3);
	margin-top: var(--size-4-2);

	background-color: var(--tag-background);
	color: var(--interactive-accent);

	border-radius: var(--radius-l);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: var(--size-2-1);
}

.shortcuts-setting-tab .special-container .special-icon {
	--icon-size: 48px;
}

.shortcuts-setting-tab .special-container .special-icon.mod-active {
	color: var(--interactive-accent);
}

.shortcuts-setting-tab .special-container .special-name {
	font-size: 15px;
	font-weight: var(--font-bold);
}

.shortcuts-setting-tab .special-container .special-combo {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--font-ui-medium);
	font-weight: var(--font-semibold);

	gap: var(--size-2-1);
}

.shortcuts-setting-tab .special-container .special-credits {
	font-size: 14px;
}

.shortcuts-setting-tab .special-container .special-version {
	font-size: var(--font-ui-smaller);
}

.shortcuts-setting-tab .special-container .special-combo span {
	font-weight: var(--font-bold);
	opacity: 40%;
}

.shortcuts-setting-tab .fold-indicator svg {
	transform: rotate(90deg);
	transition: transform 0.2s ease-in-out;
}

.shortcuts-setting-tab .fold-indicator.mod-active svg {
	transform: rotate(0deg);
}

.shortcuts-setting-tab .setting-item-name:has(.fold-indicator) {
	display: flex;
	gap: var(--size-2-2);
}

.shortcuts-setting-tab
	.setting-item-heading:has(.fold-indicator.mod-active)
	~ .setting-item-heading {
	margin-top: 0;
}

.theme-dark
	.shortcuts-setting-tab
	.special-container
	.special-combo
	span.mod-active {
	color: var(--icon-color-active);
	opacity: 100%;

	font-weight: var(--font-extrabold);
	--icon-stroke: 2px;
}

.theme-light
	.shortcuts-setting-tab
	.special-container
	.special-combo
	span.mod-active {
	color: var(--text-error);
	opacity: 100%;

	font-weight: var(--font-extrabold);
	--icon-stroke: 2px;
}

.shortcuts-setting-tab .settings-divider-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: var(--size-2-2);
	color: var(--text-faint);
}

.shortcuts-status-item.mod-active .clickable-icon {
	color: var(--icon-color-active);
}

.shortcuts-status-item .clickable-icon {
	padding: 0;
	--icon-size: 14px;
}

.shortcuts-tooltip {
	min-width: fit-content;
	min-height: fit-content;
	height: fit-content !important;
}

.shortcuts-hotkey-label {
	padding-top: var(--size-2-1);
	height: fit-content;
	min-height: 12px;
	font-size: var(--font-ui-small);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: var(--size-2-2);
}

.shortcuts-hotkey-label-icon {
	--icon-size: 12px;
	margin-right: var(--size-2-1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.shortcuts-hotkey-label-separator {
	opacity: 90%;
}

.shortcuts-hotkey-label-item {
	padding: 1px;
	border-radius: var(--radius-s);
	opacity: 90%;
	text-transform: capitalize;
	font-weight: var(--font-semibold);
}
